header {
  display: flex;
  justify-content: space-between;
  padding: 15px 200px;
  color: whitesmoke;
}

header div {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.settings {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  width: 100%;
  max-width: 200px;
  height: 100%;
  padding: 50px;
  position: absolute;
  right: 0;
  background-color: #adefd1ff;
  border-radius: 10px;
  transition: transform 0.3s ease;
  transform: translateX(100%);
  z-index: 1;
}

.settings.clicked {
  transform: translateX(0%);
}

.settings p {
  color: #00203fff;
  font-size: 1.2rem;
  font-weight: 800;
  cursor: pointer;
  border-bottom: 1px solid grey;
}

.toggle {
  z-index: 1;
}

@media (max-width: 600px) {
  header {
    padding: 10px 20px;
  }
  .settings {
    display: none;
  }

  .settings.clicked {
    display: flex;
  }
}
